 @using (Html.BeginForm("OrderMultipleUp", "InportExcel", FormMethod.Post, new { enctype = "multipart/form-data" }))
{ <div style="width:650px; height:320px; margin:5px auto; border:1px solid #808080">
    <input type="file" name="fileExcel" />
    <input type="submit" value="OK" />  
    </div> 
}
