 
<!DOCTYPE html>

<html lang='en'>
<head>
    <meta charset="UTF-8" /> 
    <title>
        Login SYSTEM
    </title>
    <link href="~/Content/Admin/Css/Login.css" rel="stylesheet" /> 
</head>
<body>
        @RenderBody()



</body>
</html>
