
@{
     Layout = "~/Views/Shared/_LayoutDefault.cshtml";
}

 <div id="Contents">
    <div class="Root">
         @Html.Raw(ViewBag.nUrl)  
    </div>
    <div class="Clear"></div>
    @Html.Raw(ViewBag.chuoi)
    <div class="Clear"></div>
</div>



